body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    color: #ffffff;
}
.centered-title {
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #424242;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #616161;
}
a {
    color: #90caf9;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #1e1e1e;
    color: #616161;            
    font-weight: bold;
    border: 1px solid #555555;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #1a1a1a;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    user-select: none;
    
}

.btn-edit {
    background-color: #2c2c2c;
    color: white;
}

.btn-edit:hover {
    background-color: #616161;
}

.btn-delete {
    background-color: #2c2c2c;
    color: white;
}

.btn-delete:hover {
    background-color: #b71c1c;
}

.btn-add {
    background-color: #2c2c2c;
    color: white;
}

.btn-add:hover {
    background-color: #616161;
}