<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Edit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Student Edit</h1>
    <form th:action="@{'/students/edit/' + ${student.id}}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Name:</label>
        <input type="text" th:field="*{name}" /><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>
        <label>Phone:</label>
        <input type="text" th:field="*{phone}" /><br/>
        <button type="submit">Update</button>
        <button type="button" th:onclick="|window.location.href='@{/students}';|">Back to List</button>
    </form>
</body>
</html>
